/shelf/
/.idea/workspace.yml
/Backend/target
/Backend/src/test
/Frontend/video-streaming-service-ui/node_modules
/Backend/src/main/resources/application.yml
/Frontend/target
/Frontend/video-streaming-service-ui/node