<div fxLayout="row gap">
	<div fxFlex="20%">HI</div>
	<div fxFlex="30%">
		<div class="mat-title">Add Video Metadata</div>
		<form [formGroup]="saveVideoDetailsForm">

			<div>
			<mat-form-field appearance="fill">
				<mat-label>Title</mat-label>
				<input matInput [formControl]="title" required>
			</mat-form-field>
			</div>

			<div>
			<mat-form-field appearance="fill">
				<mat-label>Description</mat-label>
				<input matInput [formControl]="description" required>
			</mat-form-field>
			</div>

			<div>
			<mat-form-field appearance="fill">
				<mat-label>Video Status</mat-label>
				<mat-select [formControl]="videoStatus">
					<mat-option value="PUBLIC">PUBLIC</mat-option>
					<mat-option value="PRIVATE">PRIVATE</mat-option>
				</mat-select>
			</mat-form-field>
			</div>
			<div>
			<mat-form-field class="example-chip-list">
				<mat-label>Tags</mat-label>
				<mat-chip-grid #chipGrid aria-label="Enter tags">
					<mat-chip-row *ngFor="let tag of tags"
								  (removed)="remove(tag)"
								  [editable]="true"
								  [aria-description]="'press enter to edit ' + tag">
						{{ tag}}
						<button matChipRemove [attr.aria-label]="'remove ' + tag">
							<mat-icon>cancel</mat-icon>
						</button>
					</mat-chip-row>
					<input placeholder="New tag..."
						   [matChipInputFor]="chipGrid"
						   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						   [matChipInputAddOnBlur]="addOnBlur"
						   (matChipInputTokenEnd)="add($event)"/>
				</mat-chip-grid>
			</mat-form-field>
			</div>

			<div>
				<label for="inputGroupFile01">Upload Thumbnail:
					<div class="custom-file" >
						<input type="file" class="custom-file-input" id="inputGroupFile01"
							   aria-describedby="inputGroupFileAddon01" (change)="onFileSelected($event)" >
					</div>
					<br>
					<div>
						<p>Selected File: {{selectedFileName}}</p>
					</div>
					<hr>
					<div>
						<button mat-raised-button color="primary" type="submit" (click)="onUpload()"> Upload </button>
					</div>
					<br>
				</label>
			</div>

			<div>
			<button type="submit" mat-raised-button color="primary">Save</button>
			</div>

		</form>
	</div>
	<div fxFlex="30%">Video player</div>
	<div fxFlex="20%">Hi</div>
</div>
