<div fxLayout="row">
	<div fxFlex="65%" class="video-detail">
		<div fxLayout="column" fxLayoutGap="8px">

			<!-- Video metadata -->

			<app-video-player *ngIf="videoAvailable" [videoUrl]="videoUrl"></app-video-player>
			<div class="mat-title">{{videoTitle}}</div>
			<div fxLayout="row">
				<div fxFlex="50%">
					<span class="view-count">{{viewCount}} Views</span>
					<span class="dot"></span>
					<span class="video-upload-date">Apr 13, 2021</span>
				</div>
				<div fxFlex="50%" fxLayoutAlign="end">

					<!-- Like and dislike section -->
          <span class="like-dislike-section">
              <button mat-icon-button class="thumbs-up" (click)="likeVideo()">
                <mat-icon>thumb_up_off_alt</mat-icon>
                {{likeCount}}
              </button>
              <button mat-icon-button class="thumbs-down" (click)="disLikeVideo()">
                <mat-icon>thumb_down_off_alt</mat-icon>
                {{disLikeCount}}
              </button>
          </span>
				</div>
			</div>
			<mat-divider></mat-divider>

			<!-- Subscribe section -->

			<mat-card-header>
				<mat-card-title>Programming Techie</mat-card-title>
				<mat-card-subtitle class="subtitles">4.2K Subscribers</mat-card-subtitle>
				<button *ngIf="showSubscribeButton" (click)="subscribeToUser()" class="subscribe-button" mat-raised-button color="warn">
					SUBSCRIBE
				</button>

				<button *ngIf="showUnSubscribeButton" class="subscribe-button-clicked"
						mat-raised-button color="accent"
						(click)="unSubscribeToUser">
					UNSUBSCRIBE
				</button>
			</mat-card-header>

			<!-- Description and tags -->

			<div>{{videoDescription}}</div>
			<mat-divider></mat-divider>
			<mat-chip-grid>
				<mat-chip>Sun</mat-chip>
				<mat-chip>Sunset</mat-chip>
			</mat-chip-grid>
			<mat-divider></mat-divider>

			<!-- Comment section -->

			<app-comments [videoId]="videoId" ></app-comments>

		</div>
	</div>
	<div fxFlex="5%"></div>
	<div fxFlex="30%" class="suggestion-bar">
		<div class="header" >Suggested videos</div>
		<div class="suggested-video" *ngFor="let video of suggestedVideos">
			<img src="{{video.thumbnailUrl}}" alt="{{video.title}}" class="suggested-thumbnail">
			<div class="suggested-title">{{video.title}}</div>
		</div>
	</div>
</div>
