.video-detail {
	margin-left: 100px;
	margin-top: 50px;
}

.mat-title {
	font-weight: bold;
}

.seperator{
	border-radius: 50%;
	width: 5px;
	height: 5px;
	background-color: black;
	display: inline-block;
}
