<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span>YOUTUBE</span>
    <span class="example-spacer"></span>
    <button mat-icon-button
			routerLink="/upload-video"
			class="example-icon favorite-icon"
			aria-label="Example icon-button with heart icon">
      <mat-icon>video_call</mat-icon>
    </button>
    <button *ngIf="isAuthenticated; else noAuth"
			[matMenuTriggerFor]="menu"
			mat-icon-button class="example-icon"
			aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
	  <mat-menu #menu="matMenu">
		  <button mat-menu-item (click)="logout()" >Logout</button>
	  </mat-menu>
	  <ng-template #noAuth>
		  <button mat-raised-button (click)="login()">Login</button>
	  </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

